.ui-slider-switch { width: 9em } 

#centerDetailsPopup-popup { width: 80%; }

.center-wrapper{
text-align: center;
}
.center-wrapper * {
margin: 0 auto;

}.rounded-corners {
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	 border: 1px solid #AAA;
	 padding: 10px;
}
table.rounded-corners {
  border: 1px solid #AAA;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
@media ( min-width: 20em ) {
	/* Show the table header rows and set all cells to display: table-cell */ 
	.info-table-breakpoint td,
	.info-table-breakpoint th,
	.info-table-breakpoint tbody th,
	.info-table-breakpoint tbody td,
	.info-table-breakpoint thead td,
	.info-table-breakpoint thead th {
		display: table-cell;
		margin: 0;
	}
	/* Hide the labels in each cell */
	.info-table-breakpoint td .ui-table-cell-label,
	.info-table-breakpoint th .ui-table-cell-label { 
		display: none;
	} 
}